@font-face {
  font-family: Bitter;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(bitter-bold.woff2) format("woff2");
}

@font-face {
  font-family: Bitter;
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  src: url(bitter-bold-italic.woff2) format("woff2");
}

@font-face {
  font-family: Bitter;
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  src: url(bitter-italic.woff2) format("woff2");
}

@font-face {
  font-family: Bitter;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(bitter.woff2) format("woff2");
}

body {
  font-family: "Bitter";
  background-color: #f0f0f0;
  color: #111;
  margin: 0 auto;
  padding: 1em 1.5em;
  max-width: 40em;
  text-align: justify;
  hyphens: auto;
  font-size: 14pt;
}

h1,
h2,
h3 {
  text-align: left;
}

h1 {
  font-style: normal;
  font-size: 160%;
  color: #555;
}

h2,
h3 {
  font-style: italic;
  color: #555;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

.meta,
.copy {
  font-style: italic;
  color: #999;
  font-size: 80%;
}

.copy {
  text-align: center;
}

blockquote {
  color: #555;
  border-left: 2px solid #999;
  margin: 0;
  padding: 0 0.75em;
}

a {
  color: #555;
}

a:visited {
  color: #999;
}

hr {
  display: block;
  width: 5em;
  height: 1px;
  border: 0;
  border-top: 2px solid #999;
  margin: 2em auto;
}

ol,
ul {
  margin: 0;
  padding-left: 1em;
}

li,
p {
  margin: 1em 0;
}

ul li {
  list-style-type: "‒ ";
}
